.eventManager {
    border-radius: 10px;
}

.event-form-input {
    width: 450px !important;
    margin-bottom: 20px;
}

textarea {
    height: 120px !important;
}

label {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
}

.file-input.form-control-file{
    display: none !important;  
}

.file-input-btn{
    width: 173px;
    height: 40px;
    background-color: #E5F3FF;
    border: 2px solid #0084FF;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    color: #0084FF;
    cursor: pointer;
}

#message {
    flex-basis: 100px !important;
    width: 300px !important;
    align-self: flex-start;
    position: relative;
    top: 50px;
}

